.cube {
    // display: none;
    position: absolute;
    border-radius: 5px;
    width: 90%;
    --color: rgb(255, 255, 68);
    line-height: 40px;
    text-align: center;
}

.cube .cube {
    background: #ddd;
    margin-left: 20px;
}
.container {
    // position: relative;
    position: absolute;
    // margin-top: 50px;
}
